In [1]:
import pandas as pd
import sqlite3
import numpy as np
from datetime import datetime

In [2]:
db_link ="/home/mateusz/Desktop/Moje_repo/My-Data-Science-repository/Stock_data_project/mWIG40/WIG40/WIG40/WIG.db"
conn = sqlite3.connect(db_link)

df = pd.read_sql('SELECT * FROM WIG',
            conn)

dates = [datetime.strptime(x, "%d-%m-%Y") for x in df["date"]]
df["date"] = dates

In [3]:
df.loc[df["ticker"]==df.ticker.unique()[0]].set_index("date")

,ticker,open,MAX,MIN,close,volume,trade
date,,,,,,,
2022-01-14,MAGNA POLONIA SPOLKA AKCYJNA,3.170,3.175,3.055,3.170,31747.0,98868.0
2022-01-13,MAGNA POLONIA SPOLKA AKCYJNA,3.200,3.200,3.140,3.170,10047.0,31692.0
2022-01-12,MAGNA POLONIA SPOLKA AKCYJNA,3.180,3.190,3.115,3.190,15092.0,47669.0
2022-01-11,MAGNA POLONIA SPOLKA AKCYJNA,3.140,3.190,3.100,3.100,21381.0,66695.0
2022-01-10,MAGNA POLONIA SPOLKA AKCYJNA,3.250,3.270,3.100,3.190,36051.0,114582.0
...,...,...,...,...,...,...,...
2022-03-25,MAGNA POLONIA SPOLKA AKCYJNA,3.630,3.670,3.620,3.665,5922.0,21660.0
2022-03-24,MAGNA POLONIA SPOLKA AKCYJNA,3.680,3.680,3.570,3.670,32730.0,119597.0
2022-03-23,MAGNA POLONIA SPOLKA AKCYJNA,3.625,3.750,3.625,3.680,34746.0,128319.0
2022-03-22,MAGNA POLONIA SPOLKA AKCYJNA,3.710,3.760,3.600,3.700,58291.0,214525.0
2022-03-21,MAGNA POLONIA SPOLKA AKCYJNA,3.775,3.790,3.620,3.705,88252.0,325800.0

In [6]:
x = df.loc[df['ticker'] == "MAGNA POLONIA SPOLKA AKCYJNA"].sort_values(by="date")
x

,date,ticker,open,MAX,MIN,close,volume,trade
19759,2016-01-04,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.830,1.75,1.830,1109.0,2016.0
19748,2016-01-05,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.820,1.75,1.820,4516.0,8195.0
19736,2016-01-07,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.820,1.75,1.820,11.0,20.0
19725,2016-01-08,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.830,1.75,1.830,137.0,249.0
19714,2016-01-11,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.830,1.75,1.830,3727.0,6523.0
...,...,...,...,...,...,...,...,...
466753,2022-05-09,MAGNA POLONIA SPOLKA AKCYJNA,3.310,3.465,3.31,3.400,9212.0,30863.0
466752,2022-05-10,MAGNA POLONIA SPOLKA AKCYJNA,3.435,3.435,3.28,3.280,5485.0,18280.0
466751,2022-05-11,MAGNA POLONIA SPOLKA AKCYJNA,3.390,3.395,3.25,3.365,10274.0,34275.0
466750,2022-05-12,MAGNA POLONIA SPOLKA AKCYJNA,3.270,3.375,3.12,3.295,10899.0,35159.0
466749,2022-05-13,MAGNA POLONIA SPOLKA AKCYJNA,3.250,3.390,3.25,3.350,6533.0,21483.0

In [8]:
periods = 14
ema = True
close_delta = x["close"].diff(1).dropna()
# make 2 series - up and down
up = close_delta.clip(lower=0)
down = -1*close_delta.clip(upper=0)
if ema == True:
    ma_up = up.ewm(com=periods-1, adjust=True, min_periods=periods).mean()
    ma_down = down.ewm(com=periods-1, adjust=True, min_periods=periods).mean()
else:
    #use simple moving avg
    ma_up = up.rolling(window=periods).mean()
    ma_down = down.rolling(window=periods).mean()
    
rsi = ma_up/ma_down
rsi = 100 - (100/(1+rsi))
x["rsi"] = rsi
x

,date,ticker,open,MAX,MIN,close,volume,trade,rsi
19759,2016-01-04,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.830,1.75,1.830,1109.0,2016.0,NaN
19748,2016-01-05,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.820,1.75,1.820,4516.0,8195.0,NaN
19736,2016-01-07,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.820,1.75,1.820,11.0,20.0,NaN
19725,2016-01-08,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.830,1.75,1.830,137.0,249.0,NaN
19714,2016-01-11,MAGNA POLONIA SPOLKA AKCYJNA,1.750,1.830,1.75,1.830,3727.0,6523.0,NaN
...,...,...,...,...,...,...,...,...,...
466753,2022-05-09,MAGNA POLONIA SPOLKA AKCYJNA,3.310,3.465,3.31,3.400,9212.0,30863.0,42.683185
466752,2022-05-10,MAGNA POLONIA SPOLKA AKCYJNA,3.435,3.435,3.28,3.280,5485.0,18280.0,39.384660
466751,2022-05-11,MAGNA POLONIA SPOLKA AKCYJNA,3.390,3.395,3.25,3.365,10274.0,34275.0,42.759027
466750,2022-05-12,MAGNA POLONIA SPOLKA AKCYJNA,3.270,3.375,3.12,3.295,10899.0,35159.0,40.747285
466749,2022-05-13,MAGNA POLONIA SPOLKA AKCYJNA,3.250,3.390,3.25,3.350,6533.0,21483.0,43.015833

In [ ]:
df_list = []

In [10]:
tickers = df.ticker.unique()
tickers
for i in tickers:
    print(i)

MAGNA POLONIA SPOLKA AKCYJNA
BANK HANDLOWY W WARSZAWIE SPOLKA AKCYJNA
BENEFIT SYSTEMS SPOLKA AKCYJNA
ELEKTROCIEPLOWNIA BÄ˜DZIN SPOLKA AKCYJNA
BUDIMEX SPOLKA AKCYJNA
BIG CHEESE STUDIO SPOLKA AKCYJNA
BOOMBIT SPOLKA AKCYJNA
BBI DEVELOPMENT SPOLKA AKCYJNA
BRITISH AUTOMOTIVE HOLDING SPOLKA AKCYJNA
BRAND 24 SPOLKA AKCYJNA
AIRWAY MEDIX SPOLKA AKCYJNA
AUGA GROUP AB
GRUPA AZOTY SPOLKA AKCYJNA
ATLANTIS SE
ATREM SPOLKA AKCYJNA
ATLANTA POLAND SPOLKA AKCYJNA
ZUE SPOLKA AKCYJNA
ZAKLAD BUDOWY MASZYN ZREMB-CHOJNICE SPOLKA AKCYJNA
ZESPOL ELEKTROWNI PÄ„TNOW-ADAMOW-KONIN SPOLKA AKCYJNA
ZAMET INDUSTRY SPOLKA AKCYJNA
WAWEL SPOLKA AKCYJNA
WARIMPEX FINANZ- UND BETEILIGUNGS AG
X-TRADE BROKERS DOM MAKLERSKI SPOLKA AKCYJNA
BUMECH SPOLKA AKCYJNA
BIO PLANET SPOLKÄ„ AKCYJNA
BIOTON SPOLKA AKCYJNA
XTPL SPOLKA AKCYJNA
WITTCHEN SPOLKA AKCYJNA
WIKANA SPOLKA AKCYJNA
WIELTON SPOLKA AKCYJNA
WOJAS SPOLKA AKCYJNA
WIRTUALNA POLSKA HOLDING SPOLKA AKCYJNA
WASKO SPOLKA AKCYJNA
VIVID GAMES SPOLKA AKCYJNA
VISTAL GDYNIA SPOLKA AKCYJNA
VISTULA RETAIL GROUP SPOLKA AKCYJNA
VENTURE INC SPOLKA AKCYJNA
VERCOM SPOLKA AKCYJNA
VOXEL SPOLKA AKCYJNA
VOTUM SPOLKA AKCYJNA
GIELDA PRAW MAJÄ„TKOWYCH VINDEXUS SPOLKA AKCYJNA
VIGO SYSTEM SPOLKA AKCYJNA
UNIMOT SPOLKA AKCYJNA
UNIBEP SPOLKA AKCYJNA
ULMA CONSTRUCCION POLSKA SPOLKA AKCYJNA
ULTIMATE GAMES SPOLKA AKCYJNA
UNICREDIT S.P.A.
TESGAS SPOLKA AKCYJNA
TRANS POLONIA SPOLKA AKCYJNA
TRAKCJA PRKII SPOLKA AKCYJNA
TAURON POLSKA ENERGIA SPOLKA AKCYJNA
TOWER INVESTMENTS SPOLKA AKCYJNA
TORPOL SPOLKA AKCYJNA
TOYA SPOLKA AKCYJNA
TATRY MOUNTAIN RESORTS. A.S.
TALEX SPOLKA AKCYJNA
TIM SPOLKA AKCYJNA
TEN SQUARE GAMES SPOLKA AKCYJNA
T-BULL SPOLKA AKCYJNA
SECO/WARWICK SPOLKA AKCYJNA
SWISSMED CENTRUM ZDROWIA SPOLKA AKCYJNA
SILVAIR, INC.
SUWARY SPOLKA AKCYJNA
STALEXPORT AUTOSTRADY SPOLKA AKCYJNA
SATIS GROUP SPOLKA AKCYJNA
STALPRODUKT SPOLKA AKCYJNA
STALPROFIL SPOLKA AKCYJNA
SANTANDER BANK POLSKA SPOLKA AKCYJNA
SOPHARMA AD
SONEL SPOLKA AKCYJNA
SOLAR COMPANY SPOLKA AKCYJNA
SUNEX SPOLKA AKCYJNA
SANWIL HOLDING SPOLKA AKCYJNA
SYNEKTIK SPOLKA AKCYJNA
SANOK RUBBER COMPANY SPOLKA AKCYJNA
SLEEPZ AG
SELVITA SPOLKA AKCYJNA
SKOTAN SPOLKA AKCYJNA
SKYLINE INVESTMENT SPOLKA AKCYJNA
SKARBIEC HOLDING SPOLKA AKCYJNA
FABRYKA FARB I LAKIEROW ÅšNIEÅ»KA SPOLKA AKCYJNA
SHOPER SPOLKA AKCYJNA
SYGNITY SPOLKA AKCYJNA
AS SILVANO FASHION GROUP
SERINUS ENERGY INC.
SELENA FM SPOLKA AKCYJNA
SEKO SPOLKA AKCYJNA
BANCO SANTANDER S.A.
RAWLPLUG SPOLKA AKCYJNA
RYVU THERAPEUTICS SPOLKA AKCYJNA
ZAKLADY MAGNEZYTOWE ROPCZYCE SPOLKA AKCYJNA
RANK PROGRESS SPOLKA AKCYJNA
PRZEDSIÄ˜BIORSTWO MODERNIZACJI URZÄ„DZEÅƒ ENERGETYCZNYCH REMAK SPOLKA AKCYJNA
RELPOL SPOLKA AKCYJNA
RAFAKO SPOLKA AKCYJNA
RESBUD SE
REDAN SPOLKA AKCYJNA
RAINBOW TOURS SPOLKA AKCYJNA
R22 SPOLKA AKCYJNA
QUERCUS TOWARZYSTWO FUNDUSZY INWESTYCYJNYCH SPOLKA AKCYJNA
QUANTUM SOFTWARE SPOLKA AKCYJNA
POWSZECHNY ZAKLAD UBEZPIECZEÅƒ SPOLKA AKCYJNA
POLIMEX - MOSTOSTAL SPOLKA AKCYJNA
POLWAX SPOLKA AKCYJNA
PURE BIOLOGICS SPOLKA AKCYJNA
PUNKPIRATES SPOLKA AKCYJNA
ZPUE SPOLKA AKCYJNA
POLTREG SPOLKA AKCYJNA
PROTEKTOR SPOLKA AKCYJNA
PROCHEM SPOLKA AKCYJNA
NPL NOVA SPOLKA AKCYJNA
PRZEDSIÄ˜BIORSTWO PRZEMYSLU SPOÅ»YWCZEGO PEPEES SPOLKA AKCYJNA
COMPREMUM SPOLKA AKCYJNA
PAMAPOL SPOLKA AKCYJNA
PLAZA CENTERS N.V.
PLAYWAY SPOLKA AKCYJNA
PKP CARGO SPOLKA AKCYJNA
POWSZECHNA KASA OSZCZÄ˜DNOÅšCI BANK POLSKI SPOLKA AKCYJNA
POLSKI KONCERN NAFTOWY ORLEN SPOLKA AKCYJNA
PROJPRZEM MAKRUM SPOLKA AKCYJNA
PHARMENA SPOLKA AKCYJNA
POLSKI HOLDING NIERUCHOMOÅšCI SPOLKA AKCYJNA
PGF POLSKA GRUPA FOTOWOLTAICZNA SPOLKA AKCYJNA
POLSKIE GORNICTWO NAFTOWE I GAZOWNICTWO SPOLKA AKCYJNA
PMPG POLSKIE MEDIA SPOLKA AKCYJNA
PGE POLSKA GRUPA ENERGETYCZNA SPOLKA AKCYJNA
POLENERGIA SPOLKA AKCYJNA
BANK POLSKA KASA OPIEKI SPOLKA AKCYJNA
PHOTON ENERGY N.V.
PCC ROKITA SPOLKA AKCYJNA
PEPCO GROUP N.V.
PCF GROUP SPOLKA AKCYJNA
GRUPA AZOTY ZAKLADY CHEMICZNE POLICE SPOLKA AKCYJNA
POZNAÅƒSKA KORPORACJA BUDOWLANA PEKABEX SPOLKA AKCYJNA
PATENTUS SPOLKA AKCYJNA
OVOSTAR UNION N.V.
OT LOGISTICS SPOLKA AKCYJNA
ZAKLADY PRZEMYSLU CUKIERNICZEGO OTMUCHOW SPOLKA AKCYJNA
OPONEO.PL SPOLKA AKCYJNA
OPTEAM SPOLKA AKCYJNA
ORANGE POLSKA SPOLKA AKCYJNA
ONDE SPOLKA AKCYJNA
OEX SPOLKA AKCYJNA
ODLEWNIE POLSKIE SPOLKA AKCYJNA
ORZEL BIALY SPOLKA AKCYJNA
ONCOARENDI THERAPEUTICS SPOLKA AKCYJNA
NEXITY GLOBAL SPOLKA AKCYJNA
NEWAG SPOLKA AKCYJNA
P.A. NOVA SPOLKA AKCYJNA
AB NOVATURAS
NTT SYSTEM SPOLKA AKCYJNA
NANOGROUP SPOLKA AKCYJNA
NEUCA SPOLKA AKCYJNA
MUZA SPOLKA AKCYJNA
MAXCOM SPOLKA AKCYJNA
M.W. TRADE SPOLKA AKCYJNA
MARVIPOL DEVELOPMENT SPOLKA AKCYJNA
MOSTOSTAL ZABRZE SPOLKA AKCYJNA
MOSTOSTAL WARSZAWA SPOLKA AKCYJNA
MOSTOSTAL PLOCK SPOLKA AKCYJNA
MERCATOR MEDICAL SPOLKA AKCYJNA
MIRBUD SPOLKA AKCYJNA
MONNARI TRADE SPOLKA AKCYJNA
MOL MAGYAR OLAJ - ES GAZIPARI NYILVANOSAN MUKODO RESZVENYTARSASAG
MENNICA POLSKA SPOLKA AKCYJNA
ML SYSTEM SPOLKA AKCYJNA
MILKILAND N.V.
MIRACULUM SPOLKA AKCYJNA
BANK MILLENNIUM SPOLKA AKCYJNA
MANGATA HOLDING SPOLKA AKCYJNA
MLP GROUP SPOLKA AKCYJNA
MFO SPOLKA AKCYJNA
MEX POLSKA SPOLKA AKCYJNA
MDI ENERGIA SPOLKA AKCYJNA
MEDICALGORITHMICS SPOLKA AKCYJNA
MERCOR SPOLKA AKCYJNA
MCI CAPITAL ASI SPOLKA AKCYJNA
MARIE BRIZARD WINE & SPIRITS
MO-BRUK SPOLKA AKCYJNA
MBANK SPOLKA AKCYJNA
MAKARONY POLSKIE SPOLKA AKCYJNA
MABION SPOLKA AKCYJNA
LUBELSKI WÄ˜GIEL BOGDANKA SPOLKA AKCYJNA
LIVECHAT SOFTWARE SPOLKA AKCYJNA
LENTEX SPOLKA AKCYJNA
GRUPA LOTOS SPOLKA AKCYJNA
LSI SOFTWARE SPOLKA AKCYJNA
LARQ SPOLKA AKCYJNA
LPP SPOLKA AKCYJNA
LOKUM DEWELOPER SPOLKA AKCYJNA
LENA LIGHTING SPOLKA AKCYJNA
LUBAWA SPOLKA AKCYJNA
LIBET SPOLKA AKCYJNA
KRYNICA VITAMIN SPOLKA AKCYJNA
GRUPA KÄ˜TY SPOLKA AKCYJNA
KSG AGRO S.A.
KRUK SPOLKA AKCYJNA
KRKA. TOVARNA ZDRAVIL. D.D.. NOVO MESTO
KRYNICKI RECYKLING SPOLKA AKCYJNA
KINO POLSKA TV SPOLKA AKCYJNA
KOSZALIÅƒSKIE PRZEDSIÄ˜BIORSTWO PRZEMYSLU DRZEWNEGO SPOLKA AKCYJNA
PRZEDSIÄ˜BIORSTWO PRODUKCYJNO HANDLOWE KOMPAP SPOLKA AKCYJNA
ZESPOL ELEKTROCIEPLOWNI WROCLAWSKICH KOGENERACJA SPOLKA AKCYJNA
KORPORACJA KGL SPOLKA AKCYJNA
KGHM POLSKA MIEDÅ¹ SPOLKA AKCYJNA
KERNEL HOLDING S.A.
KCI SPOLKA AKCYJNA
K2 HOLDING SPOLKA AKCYJNA
JASTRZÄ˜BSKA SPOLKA WÄ˜GLOWA SPOLKA AKCYJNA
IZOSTAL SPOLKA AKCYJNA
IZOBLOK SPOLKA AKCYJNA
AB INTER RAO LIETUVA
INTERSPORT POLSKA SPOLKA AKCYJNA
INTERNATIONAL PERSONAL FINANCE PUBLIC LIMITED COMPANY
IPOPEMA SECURITIES SPOLKA AKCYJNA
INVISTA SPOLKA AKCYJNA
INPRO SPOLKA AKCYJNA
INTROL SPOLKA AKCYJNA
INSTAL KRAKOW SPOLKA AKCYJNA
ING BANK ÅšLÄ„SKI SPOLKA AKCYJNA
INTERFERIE SPOLKA AKCYJNA
INC SPOLKA AKCYJNA
IMS SPOLKA AKCYJNA
IMPERIO ALTERNATYWNA SPOLKA AKCYJNA
INDUSTRIAL MILK COMPANY S.A.
IMMOFINANZ AG
INVESTMENT FRIENDS SE
IFIRMA SPOLKA AKCYJNA
MEDINICE SPOLKA AKCYJNA
HUUUGE, INC.
HERKULES SPOLKA AKCYJNA
HARPER HYGIENICS SPOLKA AKCYJNA
HM INWEST SPOLKA AKCYJNA
HELIO SPOLKA AKCYJNA
PRZEDSIÄ˜BIORSTWO HYDRAULIKI SILOWEJ HYDROTOR S.A.
GETIN HOLDING SPOLKA AKCYJNA
GLOBE TRADE CENTRE SPOLKA AKCYJNA
GREENX METALS LIMITED
GRODNO SPOLKA AKCYJNA
GIELDA PAPIEROW WARTOÅšCIOWYCH W WARSZAWIE SPOLKA AKCYJNA
GAMES OPERATORS SPOLKA AKCYJNA
GETIN NOBLE BANK SPOLKA AKCYJNA
GRUPA KAPITALOWA IMMOBILE SPOLKA AKCYJNA
GI GROUP POLAND SPOLKA AKCYJNA
GAMING FACTORY SPOLKA AKCYJNA
GROCLIN SPOLKA AKCYJNA
FABRYKI MEBLI FORTE SPOLKA AKCYJNA
FABRYKI SPRZÄ˜TU I NARZÄ˜DZI GORNICZYCH GRUPA KAPITALOWA FASING SPOLKA AKCYJNA
FERRO SPOLKA AKCYJNA
FON SE
FAMUR SPOLKA AKCYJNA
FERRUM SPOLKA AKCYJNA
ATLAS ESTATES LIMITED
FEERUM SPOLKA AKCYJNA
EUROCASH SPOLKA AKCYJNA
EUROPEJSKIE CENTRUM ODSZKODOWAÅƒ SPOLKA AKCYJNA
EUROTEL SPOLKA AKCYJNA
ERG SPOLKA AKCYJNA
ERBUD SPOLKA AKCYJNA
ENTER AIR SPOLKA AKCYJNA
ENERGOAPARATURA SPOLKA AKCYJNA
ENERGOINSTAL SPOLKA AKCYJNA
CENTRUM MEDYCZNE ENEL-MED SPOLKA AKCYJNA
ENEA SPOLKA AKCYJNA
ZAKLADY URZÄ„DZEÅƒ KOMPUTEROWYCH ELZAB SPOLKA AKCYJNA
ELEKTROTIM SPOLKA AKCYJNA
ELKOP SPOLKA AKCYJNA
EUROHOLD BULGARIA AD
EKO EXPORT SPOLKA AKCYJNA
ED INVEST SPOLKA AKCYJNA
ECHO INVESTMENT SPOLKA AKCYJNA
AMREST HOLDINGS SE
ESOTIQ & HENDERSON SPOLKA AKCYJNA
DEVELIA SPOLKA AKCYJNA
DROZAPOL-PROFIL SPOLKA AKCYJNA
DOM DEVELOPMENT SPOLKA AKCYJNA
DINO POLSKA SPOLKA AKCYJNA
DELKO SPOLKA AKCYJNA
DEKPOL SPOLKA AKCYJNA
DECORA SPOLKA AKCYJNA
FIRMA OPONIARSKA DÄ˜BICA SPOLKA AKCYJNA
DATAWALK SPOLKA AKCYJNA
DADELO SPOLKA AKCYJNA
CAPTOR THERAPEUTICS SPOLKA AKCYJNA
CITY SERVICE SE
PZ CORMAY SPOLKA AKCYJNA
CREEPY JAR SPOLKA AKCYJNA
CYFROWY POLSAT SPOLKA AKCYJNA
COMPERIA.PL SPOLKA AKCYJNA
CPD SPOLKA AKCYJNA
COGNOR SPOLKA AKCYJNA
CENTRUM NOWOCZESNYCH TECHNOLOGII SPOLKA AKCYJNA
COMARCH SPOLKA AKCYJNA
COMP SPOLKA AKCYJNA
CELON PHARMA SPOLKA AKCYJNA
COAL ENERGY S.A.
CI GAMES SPOLKA AKCYJNA
CIECH SPOLKA AKCYJNA
ÄŒEZ. A.S.
CD PROJEKT SPOLKA AKCYJNA
CDRL SPOLKA AKCYJNA
CLEAN&CARBON ENERGY SPOLKA AKCYJNA
CCC SPOLKA AKCYJNA
CAVATINA HOLDING SPOLKA AKCYJNA
INTER CARS SPOLKA AKCYJNA
BORYSZEW SPOLKA AKCYJNA
BOWIM SPOLKA AKCYJNA
BANK OCHRONY ÅšRODOWISKA SPOLKA AKCYJNA
BNP PARIBAS BANK POLSKA SPOLKA AKCYJNA
BIOMAXIMA SPOLKA AKCYJNA
BIOMED-LUBLIN WYTWORNIA SUROWIC I SZCZEPIONEK SPOLKA AKCYJNA W RESTRUKTURYZACJI
ATM GRUPA SPOLKA AKCYJNA
ATENDE SPOLKA AKCYJNA
ARCTIC PAPER SPOLKA AKCYJNA
ASTARTA HOLDING N.V.
ASM GROUP SPOLKA AKCYJNA
ASSECO SOUTH EASTERN EUROPE SPOLKA AKCYJNA
ASBISC ENTERPRISES PLC
ARTIFEX MUNDI SPOLKA AKCYJNA
ARTERIA SPOLKA AKCYJNA
ARCHICOM SPOLKA AKCYJNA
APATOR SPOLKA AKCYJNA
AUTO PARTNER SPOLKA AKCYJNA
APLISENS SPOLKA AKCYJNA
APS ENERGIA SPOLKA AKCYJNA
ANSWEAR.COM SPOLKA AKCYJNA
ALUMETAL SPOLKA AKCYJNA
AMICA WRONKI SPOLKA AKCYJNA
AMBRA SPOLKA AKCYJNA
ALIOR BANK SPOLKA AKCYJNA
AILLERON SPOLKA AKCYJNA
ALTUS SPOLKA AKCYJNA
ALL IN! GAMES SPOLKA AKCYJNA
ALLEGRO.EU SOCIÃ‰TÃ‰ ANONYME
AGROTON PUBLIC LIMITED
AGORA SPOLKA AKCYJNA
ADIUVO INVESTMENTS SPOLKA AKCYJNA
ACTION SPOLKA AKCYJNA
ASSECO POLAND SPOLKA AKCYJNA
AC SPOLKA AKCYJNA
ASSECO BUSINESS SOLUTIONS SPOLKA AKCYJNA
AB SPOLKA AKCYJNA
ALTA SPOLKA AKCYJNA
4FUN MEDIA SPOLKA AKCYJNA
3RGAMES SPOLKA AKCYJNA
ATAL SPOLKA AKCYJNA
11 BIT STUDIOS SPOLKA AKCYJNA
BETACOM SPOLKA AKCYJNA
UNIMA 2000 SYSTEMY TELEINFORMATYCZNE SPOLKA AKCYJNA
TARCZYÅƒSKI SPOLKA AKCYJNA
STS HOLDING SPOLKA AKCYJNA
SPYROSOFT SPOLKA AKCYJNA
SOHO DEVELOPMENT SPOLKA AKCYJNA
MOLECURE SPOLKA AKCYJNA
GRUPA PRACUJ SPOLKA AKCYJNA
GOBARTO SPOLKA AKCYJNA