In [23]:
%matplotlib inline
from sklearn.datasets.samples_generator import make_blobs
import matplotlib.pyplot as plt
from pandas import DataFrame
# generate 2d classification dataset
X, y = make_blobs(n_samples=250, centers=5, n_features=2, random_state=0)
y_names = ["Set "+str(i) for i in y]

df = DataFrame(dict(x=X[:,0], y=X[:,1], label=y_names))

data_sety = {"Set 1":'red', "Set 2":'blue', "Set 3":'green', "Set 4":"yellow", "Set 5":"purple"}
fig, ax = plt.subplots()
grouped = df.groupby('label')
#for key, group in grouped:
    #group.plot(ax=ax, kind='scatter', x='x', y='y', label=key, color=data_sety[key])
#plt.show()

             x         y  label
0    -2.950965  2.424562  Set 2
1    -2.124220  2.679961  Set 2
2    -0.188880  5.204614  Set 0
3     9.472555 -2.381773  Set 4
4     2.578544  0.726117  Set 1
5     0.341948  3.941046  Set 0
6    10.793250 -0.611580  Set 4
7    -0.294215  5.273184  Set 0
8    -1.612949  7.992164  Set 3
9     0.777013  1.857866  Set 2
10   -2.861162  1.571165  Set 2
11    0.628358  4.460136  Set 0
12   -1.540093  7.073968  Set 3
13    2.669347  1.819870  Set 1
14    9.644080 -2.189108  Set 4
15    1.599735  0.915143  Set 1
16    0.739360  0.436079  Set 1
17   -1.429179  3.500836  Set 2
18    3.002519  0.742654  Set 1
19    1.022029  4.116603  Set 0
20    0.588943  4.001485  Set 0
21   -0.637628  4.091047  Set 0
22   -1.576720  4.957406  Set 0
23    8.997585 -3.040898  Set 4
24   10.592392 -3.213588  Set 4
25    6.984635 -2.079685  Set 4
26   -0.094483  5.358239  Set 0
27   -0.680965  7.612785  Set 3
28   -2.123218  2.865315  Set 2
29    9.187324 -2.136877  Set 4
..         ...       ...    ...
220  -1.727912  8.455818  Set 3
221   0.762411  1.164715  Set 1
222   2.470349  4.098629  Set 0
223   9.730671 -3.295782  Set 4
224  -2.375082  7.104782  Set 3
225  -0.730000  6.254563  Set 0
226   1.194042  2.807729  Set 1
227   2.155050  4.123862  Set 0
228   0.950884  0.949829  Set 1
229   1.315705  2.440678  Set 1
230   1.840706  3.561622  Set 0
231   2.859421  2.956028  Set 0
232   1.686086  0.658284  Set 1
233   8.243320 -2.681113  Set 4
234   0.303810  3.944234  Set 0
235   8.755736 -3.309999  Set 4
236  11.969479 -2.405094  Set 4
237  -2.683086  3.699080  Set 2
238  -0.860521  2.457162  Set 2
239  10.786583 -1.778038  Set 4
240   2.695399 -0.719292  Set 1
241   8.614702 -2.845404  Set 4
242   0.088484  2.322991  Set 0
243   8.834066 -2.149831  Set 4
244  -2.069765  3.333932  Set 2
245  -0.481593  8.191753  Set 3
246  -0.616725  3.235100  Set 2
247  -0.604941  6.264837  Set 3
248  10.094841 -2.325877  Set 4
249   8.255213 -2.409024  Set 4

[250 rows x 3 columns]